include *.py *.txt Makefile COPYING README

recursive-include examples *.py
recursive-include test *.py
recursive-include src  *.i

recursive-include docs        *.pdf
recursive-include docs        *.rst
